body {
    background: #f8f8f8;
    padding-bottom: 2rem;
}

.prompt {
    padding: 0 4%;
    color: #6ae489;
    font-size: 0.6rem;
    line-height: 1.6rem;
}

.nav {
    width: 100%;
    color: #626f82;
    background: #fff;
    font-size: 0.6rem;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.nav li {
    width: 30%;
    float: left;
    padding: 0.3rem 0;
    position: relative;
    text-align: center;
}

.nav li:nth-child(even) {
    width: 5%;
    color: #eee;
}

.nav img {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.c-list {
    padding: 0 4%;
    background: #fff;
    margin-bottom: 0.3rem;
}

.patent-name {
    padding: 0.5rem 0;
    border-bottom: 1px solid #f1f1f1;
}

.patent-name .fl {
    width: 12rem;
    color: #626f82;
    font-weight: 900;
    font-size: 0.6rem;
}

.shc {
    color: #6ae489;
    font-size: 0.5rem;
    padding: 1px 3px 0;
    border: 1px solid #6ae489;
}

.p-info {
    font-size: 0.5rem;
    padding: 0.2rem 0 0.4rem;
    border-bottom: 1px solid #f1f1f1;
}

.p-info .fl {
    width: 3rem;
    color: #b3b3b3;
}

.p-info .fr {
    width: 10.8rem;
    color: #626f82;
}

.p-info>div {
    margin-top: 0.2rem;
}

.list-bot {
    padding: 0.5rem 0;
    border-bottom: 1px solid #f1f1f1;
}

.list-bot a {
    width: 5rem;
    color: #fff;
    font-size: 0.5rem;
    text-align: center;
    background: #69e489;
    line-height: 1.2rem;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
    position: fixed;
    background: #fff;
    font-size: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #666;
}

footer .favo {
    width: 35%;
    color: #69e489;
    text-align: center;
    line-height: 1.8rem;
}

.sub {
    width: 65%;
    color: #fff;
    height: 1.8rem;
    font-size: 0.6rem;
    background: #69e489;
}

.tit {
    padding: 0 0.5rem 0 0;
    background-color: #fff;
}

.tit .fl {
    color: #6ae489;
    font-size: 0.5rem;
}

.tit-right {
    width: 14rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #f1f1f1;
}

.jz {
    font-size: 0.5rem;
    text-align: center;
    margin-top: 50%;
}

.footer {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #69e489;
    position: fixed;
    bottom: 0;
}

.footer a {
    font-size: 0.7rem;
    color: #fff;
    text-align: center;
}
